<h1>{{title}}</h1>
<p>This is an Angular(Typescript) application using a Gin(golang) back-end with RESTful(CRUB) API.</p>
<p>See ./client/src/app/demo.service.ts for the API call code.</p>

<hr>

<h2>Members</h2>
<ul>
    <li *ngFor="let member of members"><input type="text" name="member-name" [(ngModel)]="member.Name"><input type="text" name="member-email" [(ngModel)]="member.Email"><button (click)="updateMember(member)">Save</button> <button (click)="deleteMember(member)">Delete</button></li>
</ul>
<p>Create a new member: <input type="text" name="member_name" [(ngModel)]="member_name"><button (click)="createMember(member_name)">Save</button></p>

<hr>

<app-plot></app-plot>
